
<div class="row pt-1">
    <!-- sidebar -->
    <div class="col-md-2 d-none d-sm-none d-md-block">
        <div class="markdown-section">
            <% theme.widgets_left.forEach(widget=>{ %>
                <%- partial('_widget/'+widget) %> 
            <% }) %>
        </div>
    </div>
    <!-- 文章 -->
    <div id="blog-content" class="col-md-8 col-sm-12" >
        <div class="markdown-section">
            <div class="">
                <%- partial('_partial/post_list') %>
            </div>
            <%- partial('_partial/paginator') %> 
        </div>
    </div>
    <!-- sidebar -->
    <div class="col-md-2  d-none d-sm-none d-md-block" id='blog-siderbar'>
        <div class="markdown-section">
            <% theme.widgets_right.forEach(widget=>{ %>
                <%- partial('_widget/'+widget) %> 
            <% }) %>
        </div>
    </div>
</div>


