
<div class="row pt-1">
    <!-- 文章 -->
    <div id="blog-content" class="col-md-8 col-sm-12">
        <div class="markdown-section">
            <!-- <div id="local-search-result"></div> -->
            <%- partial('_partial/post_list') %> 
        </div>
    </div>
    <!-- sidebar -->
    <div class="col-md-4" id='blog-siderbar'>
        <div class="border-auto ps-3 pb-3">
            <%- partial('_partial/sidebar')  %> 
        </div>
    </div>
</div>


