<% showSidebar = false %>
<!DOCTYPE html>
<html>
<%- partial('_partial/header') %> 
 
<body>
    <!-- 导航栏 -->
    <%- partial('_partial/nav') %>

    <main class="container">
        <%- body  %> 
    </main>
    
    
<!-- footer -->
<%- partial('_partial/footer')  %> 
</body> 
</html>