<!-- 友情链接 -->
<div class="card">
    <div class="card-header card-header-dark">
        <i class="fa fa-link pe-2"></i> 友情链接
    </div>
    <div class="p-2 tag-hover">
        <ul class="list-group border-0">
            <% theme.widgets_links.forEach(link =>{ %>
                <a class="list-group-item border-0 pt-0 pb-0 ps-1" href="<%- link.url  %> ">
                    <small> <%- link.title %> </small>
                </a>
            <% }) %> 
        </ul>
    </div>
</div>


