<!-- 友情链接 -->
<div class="card mb-3">
    <div class="card-header card-header-dark">
        <i class="fa fa-link pe-2"></i> 友情链接
    </div>
    <nav class="nav flex-column">
        <% theme.widgets_links.forEach(link=>{ %>
            <a class="nav-link ps-3 border-bottom aria-current="page" href="<%- link.url %>">
                <%- link.title %>
            </a>
        <% }) %> 
    </nav>
</div>

