<form class="d-flex pb-3">
    <input id="local-search-input" class="form-control me-2 pe-4" type="search"
            placeholder="<%- theme.search.placeholder%> " aria-label="Search">
    <button class="btn text-muted fa fa-search d-none d-lg-block" disabled></button>
</form>
<div id="local-search-result"></div>