<!-- 搜索功能，小窗口模式将自动隐藏 -->
<div class="d-none d-md-block">
    <form class="pb-3 input-group">
        <div class="input-group-prepend">
            <span class="input-group-text fa fa-search"></span>
          </div>
        <input id="local-search-input" class="form-control" type="search"
                placeholder="搜索" aria-label="Search">
    </form>
    <div id="local-search-result"></div>
</div>