.cal-month,
.cal-days,
.cal-weekdays 
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;

.cal-month-name 
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;

.cal-weekday,
.cal-btn 
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;

.cal-btn:not([disabled]) 
  font-weight: 500;

.cal-btn:hover,
.cal-btn:focus 
  background-color: rgba(0, 0, 0, .05);

.cal-btn[disabled] 
  opacity: .5;

.muted-link 
  color: #555;
  text-decoration: none;