.tag-hover > a:hover, 
.tag-hover li > a:hover,
.tag-hover > i:hover
    color: #0a58ca;

// 分页符
.new-pagination > *
    border: 1px solid;
    border-color: #ccc;
    padding: 5px 10px;
    margin: 0px;

.page-number:first-child,
.new-pagination .extend:first-child
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;

.page-number:last-child
.new-pagination .extend:last-child
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-right: 1px solid;
    border-color: #ccc;   

.new-pagination > a
    text-decoration: none;
    color: #555;
    border-right: none;

.new-pagination .current
    background: #777777;
    border: 1px solid;
    border-color: #777777; 
    color: #fff;

// 搜索结果
.search-result .search-keyword
    color: red;

.post-nav
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 20px;
    padding: 10px;
    white-space: nowrap;
    border-top: 1px solid #eee;

.search-result-title
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;

//  三线表
.markdown-section table
  margin: auto auto 15px;
  width: 100%;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  th
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    text-align: center;
    background: #f7f8f8;
  td
    padding: 5px 10px;
  tbody
    border-bottom: 1px solid #ddd;
  tr
    &:nth-child(2n)
      background: #f7f8f8;


// blockquote 即对应markdown引用符号 > 以下内容
.markdown-section blockquote
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5em 0;
  padding: 0 0 0 10px;
  color: #555;
  background: #eef0f4;
  border-left: 8px solid #dddfe4;

.markdown-section blockquote p 
  padding: 16px 8px;
  color: #555;



// fancybox 
.markdown-section img 
  max-width: 100%;
  padding: 0.5em 0;
  margin: auto;
  display: block;

// fancybox 
.caption 
  color: #444;
  display: block;
  font-size: 0.9em;
  margin-top: 0.1em;
  position: relative;
  text-align: center;