// 链接
.markdown-section a
  color: #232323;
  text-decoration: none;

// 链接的 hover
 .markdown-section a:hover
    color: #0a58ca;

// blockquote 
.markdown-section blockquote
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5em 0;
  padding: 0 0 0 10px;
  color: #333;
  background: #f4f2f0;
  border-left: 12px solid #c1c1c1;

// 引用块字体
.markdown-section blockquote p
  padding: 16px 8px;
  color: #555;

// fancybox 
.markdown-section img 
  max-width: 100%;
  padding: 0.5em 0;
  margin: auto;
  display: block;

// fancybox 
.caption 
  color: #444;
  display: block;
  font-size: 0.9em;
  margin-top: 0.1em;
  position: relative;
  text-align: center;

//  三线表
.markdown-section table
  margin: auto auto 15px;
  width: 100%;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  th
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    text-align: center;
    background: #f4f2f0;
    font-size: 20px;
  td
    padding: 5px 10px;
  tbody
    border-bottom: 2px solid #ddd;
  tr
    &:nth-child(2n)
      background: #f6f4f4;


pre[class*=language-].line-numbers
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 15px;
