

// 代码块
.markdown-section pre 
  padding: 0 0.8rem;
  line-height: inherit;
  overflow: auto;
  word-wrap: normal;

.markdown-section code, .markdown-section pre
  background-color: #f7f8f8;
  border-radius: 8px;

.markdown-section > :not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) code
  font-size: 0.9rem;

.markdown-section pre > code
  color: #525252;
  padding: 0px 0;
  line-height: inherit;
  // margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  white-space: inherit;

.sidebar li
  margin: 6px 0 6px 0;

// .markdown-section a
//   color: #666666;
//   font-weight: 600;

//  三线表
.markdown-section table
  margin: auto auto 15px;
  width: 100%;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  th
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 1px solid #676767;
    border-top: 1px solid #888888;
    text-align: center;
    background: #f7f8f8;
  td
    padding: 5px 10px;
  tbody
    border-bottom: 1px solid #676767;
  tr
    &:nth-child(2n)
      background: #f7f8f8;


figure.highlight pre, 
figure.highlight .gutter, 
figure.highlight .code, 
figure.highlight .tag, 
.codeblock pre, 
.codeblock .gutter, 
.codeblock .code, 
.codeblock .tag
  background-color: #f7f8f8;
  font-family: Menlo, Consolas, monospace;
  border: none;
  padding: 0;
  margin: 0;
  cursor: text;

/**/
figure.highlight, .codeblock
  background: #f7f8f8;
  margin: 10px 0;
  // line-height: 1.1em;
  color: #333;
  padding-top: 15px;
  overflow: hidden;

/*
 这里的color是指不能被识别的
 */
.markdown-section pre > code
  color: #161616;
  padding: 4px 0;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  white-space: inherit;

figure.highlight .gutter, .codeblock .gutter
  background: #f7f8f8;
  border-right: 1px solid #e6e6e6;
  padding: 0px;
  text-align: center;
  margin-right: 4px;

figure.highlight .gutter
  width: 35px;
  min-width: 35px;


figure.highlight code
  overflow-x: scroll;
  max-width: 780px;

figure.highlight .gutter pre
  padding: 0px;

figure.highlight .gutter pre br
  height: 39px;

figure.highlight .gutter 
  padding-bottom: 0px;
  padding-top: 0px;

figure.highlight .line, .codeblock .line
  height: 1.3em;
  font-size: .9rem;

.highlight table tbody
  border: none;

.highlight .code pre
  padding-left: 12px;
  padding-bottom: 0px;
  padding-top: 0px;

/*三线表与代码结束*/


/* python 代码关键字 */
.python 
    .hljs-keyword, 
    .hljs-keyword .hljs-comment
        color: #000080;
        font-weight: 550;
    .hljs-comment
        color: #161616
        .hljs-comment
            color: #8e8e8e;
    .hljs-number
        color: #7171ff
    .hljs-title.function_
        color: #080808;
        font-weight: 500;

/* cpp */
.cpp
    .hljs-string .hljs-meta .hljs-meta-string
        color: #008000
    .hljs-meta .hljs-meta,
    .hljs-keyword .hljs-meta,
    .hljs-keyword .hljs-meta .hljs-comment,
    .hljs-function .hljs-type .hljs-meta,
    .hljs-type .hljs-meta
        color: #000080;
        font-weight: 550;
    .hljs-number .hljs-meta .hljs-meta-string
        color: #0000ff;
    .hljs-function .hljs-title .hljs-meta,
    .hljs-meta,
    .hljs-meta .hljs-comment
        color: black;
        font-weight: 500;
    .hljs-comment .hljs-meta .hljs-comment
        color: #808080
    .hljs-number .hljs-meta .hljs-comment
        color: #0101ff

/*java*/
.java,
.scala
    .hljs-keyword .hljs-keyword,
    .hljs-type .hljs-keyword
        color: #000080;
        font-weight: 550;
    .hljs-number .hljs-number
        color: #0a0aff;
    .hljs-variable,
    .hljs-operator,
    .hljs-class .hljs-title,
    .hljs-function .hljs-title
        color: black;
        font-weight: 500;
    .hljs-string .hljs-string
        color: #008000

/* html */
.html 
    .hljs-meta
        color: #080808;
    .hljs-meta .hljs-keyword .hljs-meta,
    .hljs-tag 
        .hljs-name
            color: #0033b3;
        .hljs-tag,
        .hljs-string
            color: #067d17
        .hljs-attr
            color: #174ad4

/* css */
.css 
    .hljs-selector-id .hljs-selector-id,
    .hljs-selector-class .hljs-selector-class
        color: #0033b3;
        font-weight: 700;
    .hljs-attribute .hljs-attribute
        color: #174ad4;
        font-weight: 500

/* js */
.javascript 
    .hljs-keyword .hljs-function .hljs-keyword
        color: #0033b3
    .hljs-title 
        .hljs-function
            color: #7a7a43
        .hljs-function .hljs-title
            color: #080808;
            font-weight: 500;
        .hljs-built_in
            color: #080808;
            font-weight: 550;
    .hljs-variable .hljs-built_in
        color: #830091
    .hljs-string .hljs-string
        color: #067d17
    .hljs-property
        color: #871094


// fancybox 
.markdown-section img 
  max-width: 100%;
  padding: 0.5em 0;
  margin: auto;
  display: block;

// fancybox 
.caption 
  color: #444;
  display: block;
  font-size: 0.9em;
  margin-top: 0.1em;
  position: relative;
  text-align: center;

// blockquote 即对应markdown引用符号 > 以下内容
.markdown-section blockquote
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5em 0;
  padding: 0 0 0 10px;
  color: #555;
  background: #eef0f4;
  border-left: 8px solid #dddfe4;

.markdown-section blockquote p 
  padding: 16px 8px;
  color: #555;