// 链接
.markdown-section a:not(.title)
  color: #121212;
  font-family: "Serif";
  font-weight: 420;
  text-decoration: none;

// h1, h2
.markdown-section h1,
.markdown-section h2
  padding: 8px 0px;
  border-bottom: 2px solid;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 1.7rem;
  border-color: #eeeeee;

.markdown-section h3
  padding: 8px 0px;
  margin-top: 6px;
  margin-bottom: 3px;
  font-size: 1.4rem;

.markdown-section h4,
.markdown-section h5,
.markdown-section h6
  padding: 8px 0px;
  font-size: 1.2rem;

// 标题
.markdown-section .h2
  font-size: 2.1  rem;
  border-bottom: 2.2px solid;
  border-color:  #eeeeee;
  padding: 8px 0px;

// 链接的 hover
.markdown-section a:hover
  color: #0a58ca;

// blockquote 
.markdown-section blockquote
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.5em 0;
  padding: 0 0 0 10px;
  color: #333;
  overflow: scroll;
  background: #f4f2f0;
  border-left: 12px solid #c1c1c1;

// 引用块字体
.markdown-section blockquote p
  padding: 16px 8px;
  margin-bottom: 0;
  color: #555;

// fancybox 
.markdown-section img 
  max-width: 100%;
  padding: 0.5em 0;
  margin: auto;
  display: block;

// fancybox 
.caption 
  color: #333;
  display: block;
  font-size: 1.1em;
  margin-top: -1.6em;
  position: relative;
  text-align: center;

//  三线表
.markdown-section table
  margin: auto auto 15px;
  width: 100%;
  background: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  th
    font-weight: bold;
    padding: 5px 10px;
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    text-align: center;
    background: #f4f2f0;
    font-size: 20px;
  td
    padding: 5px 10px;
  tbody
    border-bottom: 2px solid #ddd;
  tr
    &:nth-child(2n)
      background: #f8f6f6;
    // &:hover
    //   background: #eee;

pre[class*=language-].line-numbers
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 15px;

.markdown-section .code-toolbar
  margin-bottom: 20px;

.markdown-section p
  margin-block-end: 0.5em;

/*
 * 对于 `某某关键字` 的样式
 */
.markdown-section p code
  background: #eeeeee
  padding: 6px;
  border-radius: 20%;

/*
 * 侧边栏的目录
 */
.toc
  padding-left: 12px;
  padding-top: 2px;
  padding-bottom: 5px;

.toc-link
  text-decoration: none;
  position: relative;

.toc ol,
.toc li
  list-style: none;
  margin-bottom: 0rem;

.toc-child
  padding-left: 1em;
.toc-text
  color: #666;
  overflow: hidden;

.toc-number
  display: none;
  
.toc-text:hover
  color: #0a58ca;

.previous-next-links
  line-height: 24px;
  overflow: hidden;
  padding: 13px 10px 13px 10px;
  background: #e1e1e1;
  border-radius: 15px;
  font-size: 15px;

.previous-design-link
  float: left;

.next-design-link
  float: right;

.active-post
  background: #ededed;

 .card-header-dark
  background: #f1f1f1;
  font-weight: 400;
  font-size: 1.1rem;

.post-bg-light
  background: #fdfdfd;
