<footer class="bg-dark pt-1 pb-0 mt-5">
    <div class="container pb-3 pt-2 text-center">
        <p class="text-muted tag-hover"> <%- theme.copyright  %> 
            <br>
            <a class="link-secondary text-decoration-none" href="https://beian.miit.gov.cn/#/Integrated/index">
                <%- theme.beian  %> 
            </a>
        </p>
    </div>
</footer>