<!-- 左右两侧的导航栏 -->
<% var menus = theme.menu_left %>
<% if (place == 'right') { menus = theme.menu_right} %> 
<% if (menus) { %> 
<% menus.forEach(menu=> { %>
    <li class="nav-item">
        <a class="nav-link" href="<%- url_for(menu.path) %>">
           <big> <i class="<%-menu.icon_class%> ps-1" ></i> <%-  menu.title %></big>
        </a>
    </li>
<% }) %> 
<% } %>