<!-- 前一页后一页 -->
<div class="previous-next-links">
    <% if (page.prev) { %> 
    <div class="previous-design-link">
        <a href="<%- url_for(page.prev.path) %>">
            <i style="font-size:16px;" class="fa fa-arrow-left" aria-hidden="true"></i>
            <%- page.prev.title %>
        </a>
    </div>
    <% } %> 

    <% if (page.next) { %> 
    <div class="next-design-link">
        <a href="<%- url_for(page.next.path) %>">
            <%- page.next.title %>
            <i style="font-size:16px;" class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
<% } %> 
</div> 
            