
<nav class="pt-4 border-top mt-4">
    <ul class="pagination justify-content-center new-pagination">
        <%- paginator(
            {
                prev_text: '<i class="fa fa-angle-double-left"></i>',
                next_text: '<i class="fa fa-angle-double-right"></i>',
                escape: false
            }
        ) %>
    </ul>
</nav>


